<div ng-controller="MapController">
<h1>Trends</h1>

    <!-- <input type='text' ng-model="search">
    <button ng-click='findInMap(search)'>find</button> -->
    <div>
    <a href="#/translate"><strong>Click to go to the Translate page</strong> </a>
	</div>
    <input class="form-control" placeholder="Add something to see all trends "
       type="text" ng-model="search" ng-change="change()">



       

      <select class="form-control" name="method"
              ng-model="method"  ng-change="change()"> 
        <option value="" ng-if="!method">Select API method</option>
        <option value="trending">Trending</option>
      </select>

      <!-- <button ng-click='findInGif'>find</button>  -->
       
<div id="map">

<div ng-if="res" >
  <div ng-repeat="gif in res" class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src={{gif.images.fixed_height.url}} alt="" />
      <div class="caption">
        
        <a href= {{gif.url}} target="_blank">Open original Giphy detail</a>
      </div>
    </div>
  </div>
</div>
</div>

</div>

